# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Windows
# Windows device files
nul
prn
con
aux
com[1-9]
lpt[1-9]

# IDE
.vscode
.idea
*.swp

# Build
.next/
dist/
build/
